@use 'typefaces';
@use 'print';

:root {
	--background-color: #050505;
	--text-color: rgb(163, 163, 163);
	--alternate-text-color: rgb(245, 245, 245);

	--code-color: rgb(102, 204, 187);
	--code-background: rgb(25, 51, 46);
	--code-link-color: rgb(71, 169, 255);
	--code-link-background: rgb(20, 50, 76);

	--link-color: #58a6ff;
	--selected-link-color: #ac80ff;

	--blockquote-color: rgb(85, 85, 85);
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: typefaces.$deja-vu-sans;

	margin: 0 1rem 0 1rem;
}

p {
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--alternate-text-color);
	margin-left: -1em;
	padding-left: 1em;
	font-weight: bold;

	&:hover .anchor:before {
		position: absolute;
		margin-left: -1em;
		text-decoration: underline;
		content: '¶';
	}
}

code {
	font-size: 1.1em;
	border: 1px solid;
	border-radius: 5px;
	padding: 0 3px 0 3px;

	font-family: typefaces.$jetbrains-mono;
	font-size: 0.9em;

	background: var(--code-background);
	color: var(--code-color);
}

a {
	color: var(--link-color);
	text-decoration-style: dotted;

	&::selection {
		color: var(--alternate-text-color);
		background: var(--selected-link-color);
	}

	&:hover {
		text-decoration-style: solid;
	}

	& code {
		background: var(--code-link-background);
		color: var(--code-link-color);
	}
}

pre {
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	overflow-x: auto;
	font-size: 0.9em;

	& code {
		font-size: inherit;
		border: none;
		padding: 0;

		color: var(--text-color);
		background-color: transparent;
	}
}

table {
	border-collapse: collapse;

	& td,
	& th {
		padding: 5px;
		border: 1px solid color-mix(in srgb, var(--text-color), var(--background-color) 50%);
	}
}

blockquote {
	border-left: solid 2px;
	border-left-color: var(--blockquote-color);
	padding: 10px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

math {
	font-family: typefaces.$latin-modern-math;
	font-size: 15pt;
	max-width: -webkit-fill-available;
	overflow-x: auto;
	overflow-y: clip;
	scrollbar-width: thin;
}

video,
img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}
