:root {
	--background-color: #050505;
	--text-color: rgb(163, 163, 163);
	--alternate-text-color: rgb(245, 245, 245);

	--link-color: #58a6ff;
	--selected-link-color: #ac80ff;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: sans-serif;

	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--alternate-text-color);
}

a {
	color: var(--link-color);

	&::selection {
		color: white;
		background: var(--selected-link-color);
	}
}
