:root {
	--background-color: #050505;
	--text-color: rgb(163, 163, 163);
	--alternate-text-color: rgb(245, 245, 245);

	--code-color: rgb(102, 204, 187);
	--code-background: rgb(25, 51, 46);
	--code-link-color: rgb(71, 169, 255);
	--code-link-background: rgb(20, 50, 76);

	--link-color: #58a6ff;
	--selected-link-color: #ac80ff;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: sans-serif;

	margin: 0 1rem 0 1rem;
}

p {
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--alternate-text-color);
}

code {
	font-size: 1.1em;
	border: 1px solid;
	border-radius: 5px;
	padding: 3px;

	background: var(--code-background);
	color: var(--code-color);
}

a {
	color: var(--link-color);
	text-decoration-style: dotted;

	&::selection {
		color: white;
		background: var(--selected-link-color);
	}

	&:hover {
		text-decoration-style: solid;
	}

	& code {
		background: var(--code-link-background);
		color: var(--code-link-color);
	}
}
